.chat_log   {
    position: fixed;
    width: 100%;
    bottom: 8px;
    text-align: center;
}
.chat_log input {
    width: 45%;
    height: 34px;
    background: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    font-size: 16px;
}

#logBox {
    background: rgba(0,0,0,0.5);
    width: 60%;
    height: 70vh;
    position: fixed;
    border-radius: 20px;
    left: 20%;
    top: 15%;
    border: 3px solid;
    margin-top: 100px;
    opacity: 0;
    display: none;
    transition: all 0.5s;
    color: white;
    overflow-y: scroll;
    padding: 25px;
    z-index: 1;
}
#logBox span    {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 5px 15px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    color:black;
}
#logBox p   {
    line-height: 1.2em;
    font-size: 18px;
}

#chatBox    {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 450px;
    height: 350px;
    background: rgba(255,255,255,0.5);
    border: 3px solid;
}
.chatCotants    {
    display: inline-block;
    width: 100%;
    height: 310px;
    background: rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
}
.chatCotants div   {
    position: absolute;
    bottom: 10px;
}
.chatCotants div p  {
    color: white;
    padding: 5px;
}
#chatBox form   {
    float: left;
}
#chatInputFrom  {
    width: 85%;
}
#chatInputFrom input  {
    width: 100%;
    height: 40px;
    color: white;
    background: rgba(0,0,0,0.5);
    font-size: 17px;
    box-sizing: border-box;
    margin-top: -1px;
    border: 0px;
    border-top: 2px solid black;
}

#chatName   {
    width: 15%;
}
#chatName input {
    width: 100%;
    height: 40px;
    color: white;
    background: rgba(0,0,0,0.5);
    font-size: 17px;
    box-sizing: border-box;
    margin-top: -1px;
    border: 0px;
    border-top: 2px solid black;
}


#popupDiceBox   {
    position: fixed;
    width: 300px;
    height: auto;
    bottom: 0px;
    right: 0px;
    transition: all 0.5s;
}
.popupDice  {
    position: relative;
    bottom: 0px;
    width: 250px;
    background: honeydew;
    margin: 10px;
    right: -25px;
    text-align: center;
    border-radius: 14px;
    border: 5px solid burlywood;
    transition: all 0.5s;
    margin-top: 50px;
    opacity: 0;
}
.popupDice p    {
    padding: 25px;
    font-size: 19px;
}
