*   {font-family: 'Noto Sans KR', sans-serif !important;}
body    {
    background-color: rgb(37, 31, 46);
}
.displayOn  {
    display: block !important;
}


#jsStartGame  {
    width: 100%;
    height: 100vh;
    background-image: url(img/startMap.png);
    background-size: 120%;
    background-position: center;
    position: fixed;
    display: none;
    opacity: 0;
    margin-top: 50px;
}
.opacity    {
    transition: all 1s ease-in-out;
    opacity: 1 !important;
    margin-top: 0px !important;
}

#jsSetting  {
    width: 50%;
    height: 30%;
    position: fixed;
    background: rgba(0,0,0,0.7);
    border-radius: 20px;
    top: 35%;
    left: 25%;
    text-align: center;
    display: none;
    opacity: 0;
    margin-top: 50px;
}

#jsSetting  h1  {
    font-family: 'Dancing Script', cursive;
    font-size: 6vh;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px azure;
    margin: 40px 0 40px 0;
}

#jsSetting p    {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2vh;
    color: white;
}

#jsSetting form {
    text-align: center;
    height: 10%;
    position: relative;
    top: 10%;
}

#jsSetting form input {
    height: 100%;
    width: 30%;
    background: no-repeat;
    border: 0px;
    border-bottom: 2px solid white;
    text-align: center;
    font-size: 3vh;
    color: white;
}

#explanation    {
    position: fixed;
    width: 7%;
    height: 4%;
    left: 20px;
    top: 20px;
    padding: 5px 30px;
    font-size: 1vw;
    font-weight: 500;
    border: 0px;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
    background: rgba(0,0,0,1);
    color: white;
    transition: all 0.3s;
    z-index: 1;
}
#explanation:hover  {
    transform: scale(1.05);
    background: brown;
}

#explanation:active {
    transform: scale(0.95);
}

.entpContainer  {
    margin: 10px;
    text-align: center;
    padding: 10px 0px;
    transition: all 0.2s;
    cursor: pointer;
}

.entpContainer:hover    {
    background: brown;
}

#explanationTitle   {
    text-align: center;
    font-size: 2vw;
    margin: 50px;
    font-weight: bold;
}

#Explanation    {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: black;
    color: white;
    overflow-y: scroll;
    display: none;
}

.epntTitle  {
    display: none;
    padding: 15px;
    line-height: 1.8em;
    background: cadetblue;
    margin: 20px 0px;
}

.entpContainer.displayOn .epntTitle  {
    display:block;
}

.entpContainer.displayOn .epntSubTitle  {
    display:block;
}

.epntSubTitle   {
    display: none;
    line-height: 1.5em;
    background: sienna;
    padding: 10px 0px;
}

.epntSubTitle p:first-child {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.entpMainTitle  {
    font-size:1.3vw;
}

#jsPlaySetting  {
    position: fixed;
    width: 100%;
    height: 100vh;
    display:none;
    opacity: 0;
    margin-top: 50px;
}

.jsCharacterSetting {
    width: 40%;
    height: 80%;
    top: 10%;
    left: 30%;
    position: fixed;
    border-radius: 20px;
    border: 6px solid rgba(255,255,255,0.8);
    text-align: center;
    display: none;
}

.jsCharacterSetting p   {  
    margin: 20px 0;
    font-size: 1.5vw;
    color: rgba(0,0,0,0.7);
    font-weight: 600;
    text-shadow: 0 0 3px white;
}

.jsCharacterSetting .characterSetBox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(150,100,50);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
}

.jsCharacterSetting select  {
    background: no-repeat;
    border: 0px;
    font-size: 26px;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
}

.jsCharacterSetting option  {
    background: black;
    border: 0px;
    text-align: center;
}

.jsCharacterSetting input   {
    background: no-repeat;
    border: 0px;
    font-size: 26px;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
}

.characterSetBox input[type=submit]   {
    display: block;
    margin: 50px auto;
    border: 2px solid white !important;
    padding: 5px 50px;
    border-radius: 10px;
    background: black !important;
    cursor: pointer;
}

.characterSetBox1   {
}

.characterSetBox1 form  {
    height: 80%;
    top: 8%;
    position: relative;
}

.characterSetBox2   {
    display: none;
}

.selectSet  {
    padding: 210px 0px;
}
.selectSet button   {
    display: block;
    margin: 20px auto;
    background: black;
    color: white;
    padding: 20px 80px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.dice4D6    {
}

.characterSetBox2 p  {
    margin: 10px 0;
}
.diceBox    {
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
}

.diceRoll   {
    box-sizing: border-box;
    background: black;
    color: white;
    padding: 4px 20px;
    border-radius: 5px;
    border: 2px solid;
}

.diceBox p  {
    padding: 1px 7px;
    background: white;
    border: 2px solid;
    margin: 2px;
}

.characterSetBox2 input[type=submit] {
    margin: 15px auto;
}

.characterSetBox3   {
}